.env.local

# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Heroku-specific build directories
client/node_modules/
client/build/

# OS files
.DS_Store

service_account_key.json

key/service_account_key.json