.home-container {
    padding-top: 80px; /* Navbar ile içerik arasında boşluk */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Tüm ekran yüksekliği */
    overflow: hidden; /* Taşmaları gizle */
    width: 100vw; /* Tüm ekran genişliği */
    background-color: #EEEEEE;
}

.slider-wrapper {
    width: 90%; /* Slider genişliği biraz daha arttırıldı */
    height: 60vh; /* Slider yüksekliği arttırıldı */
    margin-top: 20px;
    position: relative; /* İçindeki oklar için konum ayarı */
    overflow: hidden; /* Slider taşmalarını gizle */
}
.slick-slide img {
    border-radius: 10px; /* Görsellerin köşelerini yuvarlatma */
    width: 100%; /* Görselin genişliğini slider alanına tam oturtma */
    height: auto; /* Yüksekliği otomatik ayarlama */
    max-height: 100%; /* Maksimum yüksekliği slider alanının %100'ü ile sınırla */
    object-fit: cover; /* Görselin alanı kaplamasını sağla */
    object-position: center; /* Görselin ortasını merkezde tutma */
}


h2, p {
    margin: 10px 0;
    text-align: center;
    color: #393E46;
    width: 100%; /* Ekranın tamamını kaplasın */
    padding: 0 20px; /* Yanlarda boşluk bırak */
}
/* Aşağı kaydırmayı engellemek için */
body {
    overflow: hidden; /* Tüm sayfayı kaydırmayı engelle */
}
