/* Home.css */
.slider-container {
    width: 50%; /* Slider genişliğini ayarlayın */
    margin: 0 auto; /* Ortalamak için margin ayarı */
    position: relative; /* İçindeki oklar için konum ayarı */
}

.slick-prev, .slick-next {
    z-index: 1; /* Ok tuşlarının üstte görünmesi için */
    width: 40px; /* Ok tuşu genişliği */
    height: 40px; /* Ok tuşu yüksekliği */
    background-color: rgba(255, 255, 255, 0.7); /* Okların arka plan rengi */
    border-radius: 50%; /* Yuvarlak görünüm için */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; /* Hover efekti için geçiş */
}

.slick-prev {
    left: 10px; /* Sol ok konumu */
}

.slick-next {
    right: 10px; /* Sağ ok konumu */
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(255, 255, 255, 1); /* Hover rengi */
}

.slick-slide img {
    border-radius: 10px; /* Görsellerin köşelerini yuvarlatma */
    width: 100%; /* Görsellerin genişliğini ayarla */
    height: auto; /* Yüksekliği otomatik ayarla */
}