.exam-container {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Yatay ortalama */
    padding: 20px; /* İçerik etrafında boşluk */
    background-color: #f4f4f4; /* Sayfa arka plan rengi */
    min-height: 100vh; /* Sayfanın tüm yüksekliğini kaplar */
}

.gemini-container {
    flex-direction: column; /* Dikey hizalama */
    justify-content: center; /* Dikey ortalama */
    align-items: center; /* Yatay ortalama */
    width: 100%; /* İçeriğin tam genişlik kaplamasını sağlar */
    text-align: center; /* Metni ortala */
    background-color: #f4f4f4; /* İçerik arka plan rengi */
    border-radius: 10px; /* Köşe yuvarlatma */
    padding: 20px; /* İçerik etrafında boşluk */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
    margin-top: 0%; /* Navbar ile içerik arasında boşluk */
}

/* Responsive ayarlar */
@media (max-width: 768px) {
    .gemini-container {
        padding: 15px; /* İçerik etrafındaki boşluğu azalt */
    }
}

@media (max-width: 480px) {
    .gemini-container {
        padding: 10px; /* İçerik etrafındaki boşluğu daha da azalt */
    }
}
